#jumbo {
    background: linear-gradient(black, white);
  }
#mainimg {
  float: left;
  margin-left: 10%;
}
#main {
    color: white;
    padding-bottom: 10%;
    float: right;
}
.display-4 {
  margin-left: 10%;
  margin-right: 10%;
}
.lead {
  margin-left: 10%;
  margin-right: 10%;
}
