#jumbo {
  background: linear-gradient(black, white);
  }
#mainimg {
  float: left;
  margin-left: 8%;
}
#main {
    padding-bottom: 10%;
    float: right;
    color: white;
}
.display-4 {
  margin-left: 10%;
  margin-right: 10%;
}
.lead {
  margin-left: 10%;
  margin-right: 10%;
}

.container-sm {
  padding-left: 7%;
}