#jumbo {
  background: linear-gradient(black, 80%, white);
  }

#main {
    color: white;
}
.display-4 {
  margin-left: 10%;
}
.lead {
  margin-left: 10%;
  margin-right: 10%;
}

.container-sm {
  padding-left: 5%;
}